In [4]:
import pandas as pd

In [5]:
stats = pd.read_csv('DemographicData.csv')

In [6]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [8]:
stats.columns = ['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers', 'IncomeGroup']

In [9]:
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

---

In [2]:
# Filtering Data Frames

In [3]:
# Filtering is about Rows

In [10]:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [12]:
stats.InternetUsers < 2

0      False
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Name: InternetUsers, Length: 195, dtype: bool

In [13]:
Filter = stats.InternetUsers < 2

In [14]:
Filter

0      False
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Name: InternetUsers, Length: 195, dtype: bool

In [15]:
stats[3:7]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
5,Argentina,ARG,17.716,59.9,High income
6,Armenia,ARM,13.308,41.9,Lower middle income

In [17]:
stats[30:40]

      CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
30         Canada         CAN     10.900          85.80          High income
31    Switzerland         CHE     10.200          86.34          High income
32          Chile         CHL     13.385          66.50          High income
33          China         CHN     12.100          45.80  Upper middle income
34  Cote d'Ivoire         CIV     37.320           8.40  Lower middle income
35       Cameroon         CMR     37.236           6.40  Lower middle income
36    Congo, Rep.         COG     37.011           6.60  Lower middle income
37       Colombia         COL     16.076          51.70  Upper middle income
38        Comoros         COM     34.326           6.50           Low income
39     Cabo Verde         CPV     21.625          37.50  Lower middle income

In [19]:
stats[Filter] # Conceptually, this is just like R

      CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
11        Burundi         BDI     44.151            1.3           Low income
52        Eritrea         ERI     34.800            0.9           Low income
55       Ethiopia         ETH     32.925            1.9           Low income
64         Guinea         GIN     37.337            1.6           Low income
117       Myanmar         MMR     18.119            1.6  Lower middle income
127         Niger         NER     49.661            1.7           Low income
154  Sierra Leone         SLE     36.729            1.7           Low income
156       Somalia         SOM     43.891            1.5           Low income
172   Timor-Leste         TLS     35.755            1.1  Lower middle income

In [20]:
#Awesome! Let's use this practice now:
stats.BirthRate > 40

0      False
1      False
2       True
3      False
4      False
       ...
190    False
191    False
192     True
193     True
194    False
Name: BirthRate, Length: 195, dtype: bool

In [21]:
Filter2 = stats.BirthRate > 40

In [22]:
stats[Filter2]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
2,Angola,AGO,45.985,19.1,Upper middle income
11,Burundi,BDI,44.151,1.3,Low income
14,Burkina Faso,BFA,40.551,9.1,Low income
65,"Gambia, The",GMB,42.525,14.0,Low income
115,Mali,MLI,44.138,3.5,Low income
127,Niger,NER,49.661,1.7,Low income
128,Nigeria,NGA,40.045,38.0,Lower middle income
156,Somalia,SOM,43.891,1.5,Low income
167,Chad,TCD,45.745,2.3,Low income
178,Uganda,UGA,43.474,16.2,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income

In [23]:
stats[stats.BirthRate > 40]

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
2,Angola,AGO,45.985,19.1,Upper middle income
11,Burundi,BDI,44.151,1.3,Low income
14,Burkina Faso,BFA,40.551,9.1,Low income
65,"Gambia, The",GMB,42.525,14.0,Low income
115,Mali,MLI,44.138,3.5,Low income
127,Niger,NER,49.661,1.7,Low income
128,Nigeria,NGA,40.045,38.0,Lower middle income
156,Somalia,SOM,43.891,1.5,Low income
167,Chad,TCD,45.745,2.3,Low income
178,Uganda,UGA,43.474,16.2,Low income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income

In [24]:
#even more interesting:
stats[stats.BirthRate > 40 and stats.InternetUsers < 2]

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [25]:
stats.BirthRate > 40 and stats.InternetUsers < 2

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [26]:
Filter and Filter2

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [27]:
# Python is throwing errors because it can't process a boolean operator on two series.

In [28]:
Filter & Filter2

0      False
1      False
2      False
3      False
4      False
       ...
190    False
191    False
192    False
193    False
194    False
Length: 195, dtype: bool

In [29]:
stats[Filter & Filter2]

    CountryName CountryCode  BirthRate  InternetUsers IncomeGroup
11      Burundi         BDI     44.151            1.3  Low income
127       Niger         NER     49.661            1.7  Low income
156     Somalia         SOM     43.891            1.5  Low income

In [30]:
stats[stats.BirthRate > 40 & stats.InternetUsers < 2]

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [32]:
stats[(stats.BirthRate > 40) & (stats.InternetUsers < 2)] # Need parentheses to specify order of operations

    CountryName CountryCode  BirthRate  InternetUsers IncomeGroup
11      Burundi         BDI     44.151            1.3  Low income
127       Niger         NER     49.661            1.7  Low income
156     Somalia         SOM     43.891            1.5  Low income

In [33]:
#another one:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [35]:
stats[stats.IncomeGroup == 'High income']

               CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
0                    Aruba         ABW     10.244          78.90  High income
4     United Arab Emirates         ARE     11.044          88.00  High income
5                Argentina         ARG     17.716          59.90  High income
7      Antigua and Barbuda         ATG     16.447          63.40  High income
8                Australia         AUS     13.200          83.00  High income
..                     ...         ...        ...            ...          ...
174    Trinidad and Tobago         TTO     14.590          63.80  High income
180                Uruguay         URY     14.374          57.69  High income
181          United States         USA     12.500          84.20  High income
184          Venezuela, RB         VEN     19.842          54.90  High income
185  Virgin Islands (U.S.)         VIR     10.700          45.30  High income

[67 rows x 5 columns]

In [36]:
#How to get the unique categories
stats.IncomeGroup.unique()

array(['High income', 'Low income', 'Upper middle income',
       'Lower middle income'], dtype=object)

In [37]:
#Quick Exercise
#Find out everything about Malta

In [38]:
stats[stats.CountryName == 'Malta']

    CountryName CountryCode  BirthRate  InternetUsers  IncomeGroup
116       Malta         MLT        9.5        68.9138  High income

In [39]:
Filter3 = stats.IncomeGroup == 'Upper Middle Income' & stats.BirthRate > 15 & stats.InternetUsers > 70

TypeError: Cannot perform 'rand_' with a dtyped [float64] array and scalar of type [bool]

In [47]:
Filter3 = (stats.IncomeGroup == 'Upper middle income') & (stats.BirthRate > 15) & (stats.InternetUsers > 70)

In [48]:
stats[Filter3]

Empty DataFrame
Columns: [CountryName, CountryCode, BirthRate, InternetUsers, IncomeGroup]
Index: []

In [49]:
Filter4 = (stats.IncomeGroup == 'Upper middle income') & (stats.BirthRate > 10) & (stats.InternetUsers > 60)

In [50]:
stats[Filter4]

        CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
98          Lebanon         LBN     13.426          70.50  Upper middle income
114  Macedonia, FYR         MKD     11.222          65.24  Upper middle income
118      Montenegro         MNE     11.616          60.31  Upper middle income
124        Malaysia         MYS     16.805          66.97  Upper middle income