In [3]:
#pandas is similar to R
import pandas as pd

In [4]:
#Method 1: Specify full path to file

In [5]:
#Windows:
# stats = pd.read_csv('C:\\Users\\Kirill\\Desktop\\Python Programming Course\\DemographicData.csv)
#Mac
# stats = pd.read_csv('Users/kirilleremenko/Desktop/Python Programming Course/DemographicData.csv')

In [7]:
stats = pd.read_csv('DemographicData.csv')

In [8]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [22]:
#Method 2: Change Working Directory

In [23]:
import os

In [24]:
print(os.getcwd())

/home/user

In [25]:
#Windows
# os.chdir('C:\\Users\\Kirill\\Desktop\\Python Programming Course')
#Mac:
# os.chdir('/Users/kirilleremenko/Desktop/Python Programming Course')

In [26]:
os.chdir('..')

In [27]:
print(os.getcwd())

/home

In [28]:
os.chdir('user')

In [29]:
print(os.getcwd())

/home/user