In [30]:
# Copy the code inside cell below and paste/run in your notebook to generate three new lists
Country_Code = list (["ABW","AFG","AGO","ALB","ARE","ARG","ARM","ATG","AUS","AUT","AZE","BDI","BEL","BEN","BFA","BGD","BGR","BHR","BHS","BIH","BLR","BLZ","BOL","BRA","BRB","BRN","BTN","BWA","CAF","CAN","CHE","CHL","CHN","CIV","CMR","COG","COL","COM","CPV","CRI","CUB","CYP","CZE","DEU","DJI","DNK","DOM","DZA","ECU","EGY","ERI","ESP","EST","ETH","FIN","FJI","FRA","FSM","GAB","GBR","GEO","GHA","GIN","GMB","GNB","GNQ","GRC","GRD","GTM","GUM","GUY","HKG","HND","HRV","HTI","HUN","IDN","IND","IRL","IRN","IRQ","ISL","ITA","JAM","JOR","JPN","KAZ","KEN","KGZ","KHM","KIR","KOR","KWT","LAO","LBN","LBR","LBY","LCA","LKA","LSO","LTU","LUX","LVA","MAC","MAR","MDA","MDG","MDV","MEX","MKD","MLI","MLT","MMR","MNE","MNG","MOZ","MRT","MUS","MWI","MYS","NAM","NCL","NER","NGA","NIC","NLD","NOR","NPL","NZL","OMN","PAK","PAN","PER","PHL","PNG","POL","PRI","PRT","PRY","PYF","QAT","ROU","RUS","RWA","SAU","SDN","SEN","SGP","SLB","SLE","SLV","SOM","SSD","STP","SUR","SVK","SVN","SWE","SWZ","SYR","TCD","TGO","THA","TJK","TKM","TLS","TON","TTO","TUN","TUR","TZA","UGA","UKR","URY","USA","UZB","VCT","VEN","VIR","VNM","VUT","WSM","YEM","ZAF","COD","ZMB","ZWE"])
Life_Expectancy_At_Birth_1960 = list ([65.5693658536586,32.328512195122,32.9848292682927,62.2543658536585,52.2432195121951,65.2155365853659,65.8634634146342,61.7827317073171,70.8170731707317,68.5856097560976,60.836243902439,41.2360487804878,69.7019512195122,37.2782682926829,34.4779024390244,45.8293170731707,69.2475609756098,52.0893658536585,62.7290487804878,60.2762195121951,67.7080975609756,59.9613658536585,42.1183170731707,54.2054634146342,60.7380487804878,62.5003658536585,32.3593658536585,50.5477317073171,36.4826341463415,71.1331707317073,71.3134146341463,57.4582926829268,43.4658048780488,36.8724146341463,41.523756097561,48.5816341463415,56.716756097561,41.4424390243903,48.8564146341463,60.5761951219512,63.9046585365854,69.5939268292683,70.3487804878049,69.3129512195122,44.0212682926829,72.1765853658537,51.8452682926829,46.1351219512195,53.215,48.0137073170732,37.3629024390244,69.1092682926829,67.9059756097561,38.4057073170732,68.819756097561,55.9584878048781,69.8682926829268,57.5865853658537,39.5701219512195,71.1268292682927,63.4318536585366,45.8314634146342,34.8863902439024,32.0422195121951,37.8404390243902,36.7330487804878,68.1639024390244,59.8159268292683,45.5316341463415,61.2263414634146,60.2787317073171,66.9997073170732,46.2883170731707,64.6086585365854,42.1000975609756,68.0031707317073,48.6403170731707,41.1719512195122,69.691756097561,44.945512195122,48.0306829268293,73.4286585365854,69.1239024390244,64.1918292682927,52.6852682926829,67.6660975609756,58.3675853658537,46.3624146341463,56.1280731707317,41.2320243902439,49.2159756097561,53.0013170731707,60.3479512195122,43.2044634146342,63.2801219512195,34.7831707317073,42.6411951219512,57.303756097561,59.7471463414634,46.5107073170732,69.8473170731707,68.4463902439024,69.7868292682927,64.6609268292683,48.4466341463415,61.8127804878049,39.9746829268293,37.2686341463415,57.0656341463415,60.6228048780488,28.2116097560976,67.6017804878049,42.7363902439024,63.7056097560976,48.3688048780488,35.0037073170732,43.4830975609756,58.7452195121951,37.7736341463415,59.4753414634146,46.8803902439024,58.6390243902439,35.5150487804878,37.1829512195122,46.9988292682927,73.3926829268293,73.549756097561,35.1708292682927,71.2365853658537,42.6670731707317,45.2904634146342,60.8817073170732,47.6915853658537,57.8119268292683,38.462243902439,67.6804878048781,68.7196097560976,62.8089268292683,63.7937073170732,56.3570487804878,61.2060731707317,65.6424390243903,66.0552926829268,42.2492926829268,45.6662682926829,48.1876341463415,38.206,65.6598292682927,49.3817073170732,30.3315365853659,49.9479268292683,36.9658780487805,31.6767073170732,50.4513658536585,59.6801219512195,69.9759268292683,68.9780487804878,73.0056097560976,44.2337804878049,52.768243902439,38.0161219512195,40.2728292682927,54.6993170731707,56.1535365853659,54.4586829268293,33.7271219512195,61.3645365853659,62.6575853658537,42.009756097561,45.3844146341463,43.6538780487805,43.9835609756098,68.2995365853659,67.8963902439025,69.7707317073171,58.8855365853659,57.7238780487805,59.2851219512195,63.7302195121951,59.0670243902439,46.4874878048781,49.969512195122,34.3638048780488,49.0362926829268,41.0180487804878,45.1098048780488,51.5424634146342])
Life_Expectancy_At_Birth_2013 = list ([75.3286585365854,60.0282682926829,51.8661707317073,77.537243902439,77.1956341463415,75.9860975609756,74.5613658536585,75.7786585365854,82.1975609756098,80.890243902439,70.6931463414634,56.2516097560976,80.3853658536585,59.3120243902439,58.2406341463415,71.245243902439,74.4658536585366,76.5459512195122,75.0735365853659,76.2769268292683,72.4707317073171,69.9820487804878,67.9134390243903,74.1224390243903,75.3339512195122,78.5466585365854,69.1029268292683,64.3608048780488,49.8798780487805,81.4011219512195,82.7487804878049,81.1979268292683,75.3530243902439,51.2084634146342,55.0418048780488,61.6663902439024,73.8097317073171,62.9321707317073,72.9723658536585,79.2252195121951,79.2563902439025,79.9497804878049,78.2780487804878,81.0439024390244,61.6864634146342,80.3024390243903,73.3199024390244,74.5689512195122,75.648512195122,70.9257804878049,63.1778780487805,82.4268292682927,76.4243902439025,63.4421951219512,80.8317073170732,69.9179268292683,81.9682926829268,68.9733902439024,63.8435853658537,80.9560975609756,74.079512195122,61.1420731707317,58.216487804878,59.9992682926829,54.8384146341464,57.2908292682927,80.6341463414634,73.1935609756098,71.4863902439024,78.872512195122,66.3100243902439,83.8317073170732,72.9428536585366,77.1268292682927,62.4011463414634,75.2682926829268,68.7046097560976,67.6604146341463,81.0439024390244,75.1259756097561,69.4716829268293,83.1170731707317,82.290243902439,73.4689268292683,73.9014146341463,83.3319512195122,70.45,60.9537804878049,70.2024390243902,67.7720487804878,65.7665853658537,81.459756097561,74.462756097561,65.687243902439,80.1288780487805,60.5203902439024,71.6576829268293,74.9127073170732,74.2402926829268,49.3314634146342,74.1634146341464,81.7975609756098,73.9804878048781,80.3391463414634,73.7090487804878,68.811512195122,64.6739024390244,76.6026097560976,76.5326585365854,75.1870487804878,57.5351951219512,80.7463414634146,65.6540975609756,74.7583658536585,69.0618048780488,54.641512195122,62.8027073170732,74.46,61.466,74.567512195122,64.3438780487805,77.1219512195122,60.8281463414634,52.4421463414634,74.514756097561,81.1048780487805,81.4512195121951,69.222,81.4073170731707,76.8410487804878,65.9636829268293,77.4192195121951,74.2838536585366,68.1315609756097,62.4491707317073,76.8487804878049,78.7111951219512,80.3731707317073,72.7991707317073,76.3340731707317,78.4184878048781,74.4634146341463,71.0731707317073,63.3948292682927,74.1776341463415,63.1670487804878,65.878756097561,82.3463414634146,67.7189268292683,50.3631219512195,72.4981463414634,55.0230243902439,55.2209024390244,66.259512195122,70.99,76.2609756097561,80.2780487804878,81.7048780487805,48.9379268292683,74.7157804878049,51.1914878048781,59.1323658536585,74.2469268292683,69.4001707317073,65.4565609756098,67.5223658536585,72.6403414634147,70.3052926829268,73.6463414634147,75.1759512195122,64.2918292682927,57.7676829268293,71.159512195122,76.8361951219512,78.8414634146341,68.2275853658537,72.8108780487805,74.0744146341464,79.6243902439024,75.756487804878,71.669243902439,73.2503902439024,63.583512195122,56.7365853658537,58.2719268292683,59.2373658536585,55.633])

In [31]:
# Copy the code inside cell below and paste/run in your notebook to generate three new lists
Countries_2012_Dataset = list (["Aruba","Afghanistan","Angola","Albania","United Arab Emirates","Argentina","Armenia","Antigua and Barbuda","Australia","Austria","Azerbaijan","Burundi","Belgium","Benin","Burkina Faso","Bangladesh","Bulgaria","Bahrain","Bahamas, The","Bosnia and Herzegovina","Belarus","Belize","Bermuda","Bolivia","Brazil","Barbados","Brunei Darussalam","Bhutan","Botswana","Central African Republic","Canada","Switzerland","Chile","China","Cote d'Ivoire","Cameroon","Congo, Rep.","Colombia","Comoros","Cabo Verde","Costa Rica","Cuba","Cayman Islands","Cyprus","Czech Republic","Germany","Djibouti","Denmark","Dominican Republic","Algeria","Ecuador","Egypt, Arab Rep.","Eritrea","Spain","Estonia","Ethiopia","Finland","Fiji","France","Micronesia, Fed. Sts.","Gabon","United Kingdom","Georgia","Ghana","Guinea","Gambia, The","Guinea-Bissau","Equatorial Guinea","Greece","Grenada","Greenland","Guatemala","Guam","Guyana","Hong Kong SAR, China","Honduras","Croatia","Haiti","Hungary","Indonesia","India","Ireland","Iran, Islamic Rep.","Iraq","Iceland","Israel","Italy","Jamaica","Jordan","Japan","Kazakhstan","Kenya","Kyrgyz Republic","Cambodia","Kiribati","Korea, Rep.","Kuwait","Lao PDR","Lebanon","Liberia","Libya","St. Lucia","Liechtenstein","Sri Lanka","Lesotho","Lithuania","Luxembourg","Latvia","Macao SAR, China","Morocco","Moldova","Madagascar","Maldives","Mexico","Macedonia, FYR","Mali","Malta","Myanmar","Montenegro","Mongolia","Mozambique","Mauritania","Mauritius","Malawi","Malaysia","Namibia","New Caledonia","Niger","Nigeria","Nicaragua","Netherlands","Norway","Nepal","New Zealand","Oman","Pakistan","Panama","Peru","Philippines","Papua New Guinea","Poland","Puerto Rico","Portugal","Paraguay","French Polynesia","Qatar","Romania","Russian Federation","Rwanda","Saudi Arabia","Sudan","Senegal","Singapore","Solomon Islands","Sierra Leone","El Salvador","Somalia","Serbia","South Sudan","Sao Tome and Principe","Suriname","Slovak Republic","Slovenia","Sweden","Swaziland","Seychelles","Syrian Arab Republic","Chad","Togo","Thailand","Tajikistan","Turkmenistan","Timor-Leste","Tonga","Trinidad and Tobago","Tunisia","Turkey","Tanzania","Uganda","Ukraine","Uruguay","United States","Uzbekistan","St. Vincent and the Grenadines","Venezuela, RB","Virgin Islands (U.S.)","Vietnam","Vanuatu","West Bank and Gaza","Samoa","Yemen, Rep.","South Africa","Congo, Dem. Rep.","Zambia","Zimbabwe"])
Codes_2012_Dataset = list (["ABW","AFG","AGO","ALB","ARE","ARG","ARM","ATG","AUS","AUT","AZE","BDI","BEL","BEN","BFA","BGD","BGR","BHR","BHS","BIH","BLR","BLZ","BMU","BOL","BRA","BRB","BRN","BTN","BWA","CAF","CAN","CHE","CHL","CHN","CIV","CMR","COG","COL","COM","CPV","CRI","CUB","CYM","CYP","CZE","DEU","DJI","DNK","DOM","DZA","ECU","EGY","ERI","ESP","EST","ETH","FIN","FJI","FRA","FSM","GAB","GBR","GEO","GHA","GIN","GMB","GNB","GNQ","GRC","GRD","GRL","GTM","GUM","GUY","HKG","HND","HRV","HTI","HUN","IDN","IND","IRL","IRN","IRQ","ISL","ISR","ITA","JAM","JOR","JPN","KAZ","KEN","KGZ","KHM","KIR","KOR","KWT","LAO","LBN","LBR","LBY","LCA","LIE","LKA","LSO","LTU","LUX","LVA","MAC","MAR","MDA","MDG","MDV","MEX","MKD","MLI","MLT","MMR","MNE","MNG","MOZ","MRT","MUS","MWI","MYS","NAM","NCL","NER","NGA","NIC","NLD","NOR","NPL","NZL","OMN","PAK","PAN","PER","PHL","PNG","POL","PRI","PRT","PRY","PYF","QAT","ROU","RUS","RWA","SAU","SDN","SEN","SGP","SLB","SLE","SLV","SOM","SRB","SSD","STP","SUR","SVK","SVN","SWE","SWZ","SYC","SYR","TCD","TGO","THA","TJK","TKM","TLS","TON","TTO","TUN","TUR","TZA","UGA","UKR","URY","USA","UZB","VCT","VEN","VIR","VNM","VUT","PSE","WSM","YEM","ZAF","COD","ZMB","ZWE"])
Regions_2012_Dataset = list (["The Americas","Asia","Africa","Europe","Middle East","The Americas","Asia","The Americas","Oceania","Europe","Asia","Africa","Europe","Africa","Africa","Asia","Europe","Middle East","The Americas","Europe","Europe","The Americas","The Americas","The Americas","The Americas","The Americas","Asia","Asia","Africa","Africa","The Americas","Europe","The Americas","Asia","Africa","Africa","Africa","The Americas","Africa","Africa","The Americas","The Americas","The Americas","Europe","Europe","Europe","Africa","Europe","The Americas","Africa","The Americas","Africa","Africa","Europe","Europe","Africa","Europe","Oceania","Europe","Oceania","Africa","Europe","Asia","Africa","Africa","Africa","Africa","Africa","Europe","The Americas","The Americas","The Americas","Oceania","The Americas","Asia","The Americas","Europe","The Americas","Europe","Asia","Asia","Europe","Middle East","Middle East","Europe","Middle East","Europe","The Americas","Middle East","Asia","Asia","Africa","Asia","Asia","Oceania","Asia","Middle East","Asia","Middle East","Africa","Africa","The Americas","Europe","Asia","Africa","Europe","Europe","Europe","Asia","Africa","Europe","Africa","Asia","The Americas","Europe","Africa","Europe","Asia","Europe","Asia","Africa","Africa","Africa","Africa","Asia","Africa","Oceania","Africa","Africa","The Americas","Europe","Europe","Asia","Oceania","Middle East","Asia","The Americas","The Americas","Asia","Oceania","Europe","The Americas","Europe","The Americas","Oceania","Middle East","Europe","Europe","Africa","Middle East","Africa","Africa","Asia","Oceania","Africa","The Americas","Africa","Europe","Africa","Africa","The Americas","Europe","Europe","Europe","Africa","Africa","Middle East","Africa","Africa","Asia","Asia","Asia","Asia","Oceania","The Americas","Africa","Europe","Africa","Africa","Europe","The Americas","The Americas","Asia","The Americas","The Americas","The Americas","Asia","Oceania","Middle East","Oceania","Middle East","Africa","Africa","Africa","Africa"])

In [32]:
import pandas as pd

In [33]:
stats = pd.read_csv('DemographicData.csv')

In [34]:
stats

,Country Name,Country Code,Birth rate,Internet users,Income Group
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [35]:
stats.columns = ['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers', 'IncomeGroup']

In [36]:
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income

In [37]:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income

In [38]:
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
plt.rcParams['figure.figsize']= 8,4
import warnings
warnings.filterwarnings('ignore')

In [39]:
stats['LifeExpectancy'] = Life_Expectancy_At_Birth_1960

ValueError: Length of values (187) does not match length of index (195)

In [40]:
Life_Expectancy_At_Birth_1960

[65.5693658536586,
 32.328512195122,
 32.9848292682927,
 62.2543658536585,
 52.2432195121951,
 65.2155365853659,
 65.8634634146342,
 61.7827317073171,
 70.8170731707317,
 68.5856097560976,
 60.836243902439,
 41.2360487804878,
 69.7019512195122,
 37.2782682926829,
 34.4779024390244,
 45.8293170731707,
 69.2475609756098,
 52.0893658536585,
 62.7290487804878,
 60.2762195121951,
 67.7080975609756,
 59.9613658536585,
 42.1183170731707,
 54.2054634146342,
 60.7380487804878,
 62.5003658536585,
 32.3593658536585,
 50.5477317073171,
 36.4826341463415,
 71.1331707317073,
 71.3134146341463,
 57.4582926829268,
 43.4658048780488,
 36.8724146341463,
 41.523756097561,
 48.5816341463415,
 56.716756097561,
 41.4424390243903,
 48.8564146341463,
 60.5761951219512,
 63.9046585365854,
 69.5939268292683,
 70.3487804878049,
 69.3129512195122,
 44.0212682926829,
 72.1765853658537,
 51.8452682926829,
 46.1351219512195,
 53.215,
 48.0137073170732,
 37.3629024390244,
 69.1092682926829,
 67.9059756097561,
 38.4057073170732,
 68.819756097561,
 55.9584878048781,
 69.8682926829268,
 57.5865853658537,
 39.5701219512195,
 71.1268292682927,
 63.4318536585366,
 45.8314634146342,
 34.8863902439024,
 32.0422195121951,
 37.8404390243902,
 36.7330487804878,
 68.1639024390244,
 59.8159268292683,
 45.5316341463415,
 61.2263414634146,
 60.2787317073171,
 66.9997073170732,
 46.2883170731707,
 64.6086585365854,
 42.1000975609756,
 68.0031707317073,
 48.6403170731707,
 41.1719512195122,
 69.691756097561,
 44.945512195122,
 48.0306829268293,
 73.4286585365854,
 69.1239024390244,
 64.1918292682927,
 52.6852682926829,
 67.6660975609756,
 58.3675853658537,
 46.3624146341463,
 56.1280731707317,
 41.2320243902439,
 49.2159756097561,
 53.0013170731707,
 60.3479512195122,
 43.2044634146342,
 63.2801219512195,
 34.7831707317073,
 42.6411951219512,
 57.303756097561,
 59.7471463414634,
 46.5107073170732,
 69.8473170731707,
 68.4463902439024,
 69.7868292682927,
 64.6609268292683,
 48.4466341463415,
 61.8127804878049,
 39.9746829268293,
 37.2686341463415,
 57.0656341463415,
 60.6228048780488,
 28.2116097560976,
 67.6017804878049,
 42.7363902439024,
 63.7056097560976,
 48.3688048780488,
 35.0037073170732,
 43.4830975609756,
 58.7452195121951,
 37.7736341463415,
 59.4753414634146,
 46.8803902439024,
 58.6390243902439,
 35.5150487804878,
 37.1829512195122,
 46.9988292682927,
 73.3926829268293,
 73.549756097561,
 35.1708292682927,
 71.2365853658537,
 42.6670731707317,
 45.2904634146342,
 60.8817073170732,
 47.6915853658537,
 57.8119268292683,
 38.462243902439,
 67.6804878048781,
 68.7196097560976,
 62.8089268292683,
 63.7937073170732,
 56.3570487804878,
 61.2060731707317,
 65.6424390243903,
 66.0552926829268,
 42.2492926829268,
 45.6662682926829,
 48.1876341463415,
 38.206,
 65.6598292682927,
 49.3817073170732,
 30.3315365853659,
 49.9479268292683,
 36.9658780487805,
 31.6767073170732,
 50.4513658536585,
 59.6801219512195,
 69.9759268292683,
 68.9780487804878,
 73.0056097560976,
 44.2337804878049,
 52.768243902439,
 38.0161219512195,
 40.2728292682927,
 54.6993170731707,
 56.1535365853659,
 54.4586829268293,
 33.7271219512195,
 61.3645365853659,
 62.6575853658537,
 42.009756097561,
 45.3844146341463,
 43.6538780487805,
 43.9835609756098,
 68.2995365853659,
 67.8963902439025,
 69.7707317073171,
 58.8855365853659,
 57.7238780487805,
 59.2851219512195,
 63.7302195121951,
 59.0670243902439,
 46.4874878048781,
 49.969512195122,
 34.3638048780488,
 49.0362926829268,
 41.0180487804878,
 45.1098048780488,
 51.5424634146342]

In [41]:
 len(Life_Expectancy_At_Birth_1960)

187

In [42]:
len(Life_Expectancy_At_Birth_2013)

187

In [43]:
len(Country_Code)

187

In [44]:
len(Countries_2012_Dataset)

195

In [45]:
len(Codes_2012_Dataset)

195

In [46]:
len(Regions_2012_Dataset)

195

In [47]:
# Use dictionary instead of directly assigning this: stats['Region'] = Regions_2012_Dataset

In [48]:
# stats

In [49]:
# stats.head()

In [50]:
stats.columns

Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'],
      dtype='object')

In [51]:
stats.columns = ['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup', 'Region', 'LifeExpectancy1960', 'LifeExpectancy2013']

ValueError: Length mismatch: Expected axis has 5 elements, new values have 8 elements

In [52]:
# Create LifeExpectancy1960Dict & LifeExpectancy2013Dict
# stats['LifeExpectancy1960'] = LifeExpectancy1960Dict
# stats['LifeExpectancy2013'] = LifeExpectancy2013Dict

In [53]:
stats.columns

Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup'],
      dtype='object')

In [54]:
#LifeExpectancy1960Dict

In [55]:
LifeExpectancy1960Dict = dict(zip(Country_Code, Life_Expectancy_At_Birth_1960))

In [56]:
LifeExpectancy1960Dict

{'ABW': 65.5693658536586,
 'AFG': 32.328512195122,
 'AGO': 32.9848292682927,
 'ALB': 62.2543658536585,
 'ARE': 52.2432195121951,
 'ARG': 65.2155365853659,
 'ARM': 65.8634634146342,
 'ATG': 61.7827317073171,
 'AUS': 70.8170731707317,
 'AUT': 68.5856097560976,
 'AZE': 60.836243902439,
 'BDI': 41.2360487804878,
 'BEL': 69.7019512195122,
 'BEN': 37.2782682926829,
 'BFA': 34.4779024390244,
 'BGD': 45.8293170731707,
 'BGR': 69.2475609756098,
 'BHR': 52.0893658536585,
 'BHS': 62.7290487804878,
 'BIH': 60.2762195121951,
 'BLR': 67.7080975609756,
 'BLZ': 59.9613658536585,
 'BOL': 42.1183170731707,
 'BRA': 54.2054634146342,
 'BRB': 60.7380487804878,
 'BRN': 62.5003658536585,
 'BTN': 32.3593658536585,
 'BWA': 50.5477317073171,
 'CAF': 36.4826341463415,
 'CAN': 71.1331707317073,
 'CHE': 71.3134146341463,
 'CHL': 57.4582926829268,
 'CHN': 43.4658048780488,
 'CIV': 36.8724146341463,
 'CMR': 41.523756097561,
 'COG': 48.5816341463415,
 'COL': 56.716756097561,
 'COM': 41.4424390243903,
 'CPV': 48.8564146341463,
 'CRI': 60.5761951219512,
 'CUB': 63.9046585365854,
 'CYP': 69.5939268292683,
 'CZE': 70.3487804878049,
 'DEU': 69.3129512195122,
 'DJI': 44.0212682926829,
 'DNK': 72.1765853658537,
 'DOM': 51.8452682926829,
 'DZA': 46.1351219512195,
 'ECU': 53.215,
 'EGY': 48.0137073170732,
 'ERI': 37.3629024390244,
 'ESP': 69.1092682926829,
 'EST': 67.9059756097561,
 'ETH': 38.4057073170732,
 'FIN': 68.819756097561,
 'FJI': 55.9584878048781,
 'FRA': 69.8682926829268,
 'FSM': 57.5865853658537,
 'GAB': 39.5701219512195,
 'GBR': 71.1268292682927,
 'GEO': 63.4318536585366,
 'GHA': 45.8314634146342,
 'GIN': 34.8863902439024,
 'GMB': 32.0422195121951,
 'GNB': 37.8404390243902,
 'GNQ': 36.7330487804878,
 'GRC': 68.1639024390244,
 'GRD': 59.8159268292683,
 'GTM': 45.5316341463415,
 'GUM': 61.2263414634146,
 'GUY': 60.2787317073171,
 'HKG': 66.9997073170732,
 'HND': 46.2883170731707,
 'HRV': 64.6086585365854,
 'HTI': 42.1000975609756,
 'HUN': 68.0031707317073,
 'IDN': 48.6403170731707,
 'IND': 41.1719512195122,
 'IRL': 69.691756097561,
 'IRN': 44.945512195122,
 'IRQ': 48.0306829268293,
 'ISL': 73.4286585365854,
 'ITA': 69.1239024390244,
 'JAM': 64.1918292682927,
 'JOR': 52.6852682926829,
 'JPN': 67.6660975609756,
 'KAZ': 58.3675853658537,
 'KEN': 46.3624146341463,
 'KGZ': 56.1280731707317,
 'KHM': 41.2320243902439,
 'KIR': 49.2159756097561,
 'KOR': 53.0013170731707,
 'KWT': 60.3479512195122,
 'LAO': 43.2044634146342,
 'LBN': 63.2801219512195,
 'LBR': 34.7831707317073,
 'LBY': 42.6411951219512,
 'LCA': 57.303756097561,
 'LKA': 59.7471463414634,
 'LSO': 46.5107073170732,
 'LTU': 69.8473170731707,
 'LUX': 68.4463902439024,
 'LVA': 69.7868292682927,
 'MAC': 64.6609268292683,
 'MAR': 48.4466341463415,
 'MDA': 61.8127804878049,
 'MDG': 39.9746829268293,
 'MDV': 37.2686341463415,
 'MEX': 57.0656341463415,
 'MKD': 60.6228048780488,
 'MLI': 28.2116097560976,
 'MLT': 67.6017804878049,
 'MMR': 42.7363902439024,
 'MNE': 63.7056097560976,
 'MNG': 48.3688048780488,
 'MOZ': 35.0037073170732,
 'MRT': 43.4830975609756,
 'MUS': 58.7452195121951,
 'MWI': 37.7736341463415,
 'MYS': 59.4753414634146,
 'NAM': 46.8803902439024,
 'NCL': 58.6390243902439,
 'NER': 35.5150487804878,
 'NGA': 37.1829512195122,
 'NIC': 46.9988292682927,
 'NLD': 73.3926829268293,
 'NOR': 73.549756097561,
 'NPL': 35.1708292682927,
 'NZL': 71.2365853658537,
 'OMN': 42.6670731707317,
 'PAK': 45.2904634146342,
 'PAN': 60.8817073170732,
 'PER': 47.6915853658537,
 'PHL': 57.8119268292683,
 'PNG': 38.462243902439,
 'POL': 67.6804878048781,
 'PRI': 68.7196097560976,
 'PRT': 62.8089268292683,
 'PRY': 63.7937073170732,
 'PYF': 56.3570487804878,
 'QAT': 61.2060731707317,
 'ROU': 65.6424390243903,
 'RUS': 66.0552926829268,
 'RWA': 42.2492926829268,
 'SAU': 45.6662682926829,
 'SDN': 48.1876341463415,
 'SEN': 38.206,
 'SGP': 65.6598292682927,
 'SLB': 49.3817073170732,
 'SLE': 30.3315365853659,
 'SLV': 49.9479268292683,
 'SOM': 36.9658780487805,
 'SSD': 31.6767073170732,
 'STP': 50.4513658536585,
 'SUR': 59.6801219512195,
 'SVK': 69.9759268292683,
 'SVN': 68.9780487804878,
 'SWE': 73.0056097560976,
 'SWZ': 44.2337804878049,
 'SYR': 52.768243902439,
 'TCD': 38.0161219512195,
 'TGO': 40.2728292682927,
 'THA': 54.6993170731707,
 'TJK': 56.1535365853659,
 'TKM': 54.4586829268293,
 'TLS': 33.7271219512195,
 'TON': 61.3645365853659,
 'TTO': 62.6575853658537,
 'TUN': 42.009756097561,
 'TUR': 45.3844146341463,
 'TZA': 43.6538780487805,
 'UGA': 43.9835609756098,
 'UKR': 68.2995365853659,
 'URY': 67.8963902439025,
 'USA': 69.7707317073171,
 'UZB': 58.8855365853659,
 'VCT': 57.7238780487805,
 'VEN': 59.2851219512195,
 'VIR': 63.7302195121951,
 'VNM': 59.0670243902439,
 'VUT': 46.4874878048781,
 'WSM': 49.969512195122,
 'YEM': 34.3638048780488,
 'ZAF': 49.0362926829268,
 'COD': 41.0180487804878,
 'ZMB': 45.1098048780488,
 'ZWE': 51.5424634146342}

In [60]:
#LifeExpectancy2013Dict

In [61]:
LifeExpectancy2013Dict = dict(zip(Country_Code, Life_Expectancy_At_Birth_2013))

In [62]:
LifeExpectancy2013Dict

{'ABW': 75.3286585365854,
 'AFG': 60.0282682926829,
 'AGO': 51.8661707317073,
 'ALB': 77.537243902439,
 'ARE': 77.1956341463415,
 'ARG': 75.9860975609756,
 'ARM': 74.5613658536585,
 'ATG': 75.7786585365854,
 'AUS': 82.1975609756098,
 'AUT': 80.890243902439,
 'AZE': 70.6931463414634,
 'BDI': 56.2516097560976,
 'BEL': 80.3853658536585,
 'BEN': 59.3120243902439,
 'BFA': 58.2406341463415,
 'BGD': 71.245243902439,
 'BGR': 74.4658536585366,
 'BHR': 76.5459512195122,
 'BHS': 75.0735365853659,
 'BIH': 76.2769268292683,
 'BLR': 72.4707317073171,
 'BLZ': 69.9820487804878,
 'BOL': 67.9134390243903,
 'BRA': 74.1224390243903,
 'BRB': 75.3339512195122,
 'BRN': 78.5466585365854,
 'BTN': 69.1029268292683,
 'BWA': 64.3608048780488,
 'CAF': 49.8798780487805,
 'CAN': 81.4011219512195,
 'CHE': 82.7487804878049,
 'CHL': 81.1979268292683,
 'CHN': 75.3530243902439,
 'CIV': 51.2084634146342,
 'CMR': 55.0418048780488,
 'COG': 61.6663902439024,
 'COL': 73.8097317073171,
 'COM': 62.9321707317073,
 'CPV': 72.9723658536585,
 'CRI': 79.2252195121951,
 'CUB': 79.2563902439025,
 'CYP': 79.9497804878049,
 'CZE': 78.2780487804878,
 'DEU': 81.0439024390244,
 'DJI': 61.6864634146342,
 'DNK': 80.3024390243903,
 'DOM': 73.3199024390244,
 'DZA': 74.5689512195122,
 'ECU': 75.648512195122,
 'EGY': 70.9257804878049,
 'ERI': 63.1778780487805,
 'ESP': 82.4268292682927,
 'EST': 76.4243902439025,
 'ETH': 63.4421951219512,
 'FIN': 80.8317073170732,
 'FJI': 69.9179268292683,
 'FRA': 81.9682926829268,
 'FSM': 68.9733902439024,
 'GAB': 63.8435853658537,
 'GBR': 80.9560975609756,
 'GEO': 74.079512195122,
 'GHA': 61.1420731707317,
 'GIN': 58.216487804878,
 'GMB': 59.9992682926829,
 'GNB': 54.8384146341464,
 'GNQ': 57.2908292682927,
 'GRC': 80.6341463414634,
 'GRD': 73.1935609756098,
 'GTM': 71.4863902439024,
 'GUM': 78.872512195122,
 'GUY': 66.3100243902439,
 'HKG': 83.8317073170732,
 'HND': 72.9428536585366,
 'HRV': 77.1268292682927,
 'HTI': 62.4011463414634,
 'HUN': 75.2682926829268,
 'IDN': 68.7046097560976,
 'IND': 67.6604146341463,
 'IRL': 81.0439024390244,
 'IRN': 75.1259756097561,
 'IRQ': 69.4716829268293,
 'ISL': 83.1170731707317,
 'ITA': 82.290243902439,
 'JAM': 73.4689268292683,
 'JOR': 73.9014146341463,
 'JPN': 83.3319512195122,
 'KAZ': 70.45,
 'KEN': 60.9537804878049,
 'KGZ': 70.2024390243902,
 'KHM': 67.7720487804878,
 'KIR': 65.7665853658537,
 'KOR': 81.459756097561,
 'KWT': 74.462756097561,
 'LAO': 65.687243902439,
 'LBN': 80.1288780487805,
 'LBR': 60.5203902439024,
 'LBY': 71.6576829268293,
 'LCA': 74.9127073170732,
 'LKA': 74.2402926829268,
 'LSO': 49.3314634146342,
 'LTU': 74.1634146341464,
 'LUX': 81.7975609756098,
 'LVA': 73.9804878048781,
 'MAC': 80.3391463414634,
 'MAR': 73.7090487804878,
 'MDA': 68.811512195122,
 'MDG': 64.6739024390244,
 'MDV': 76.6026097560976,
 'MEX': 76.5326585365854,
 'MKD': 75.1870487804878,
 'MLI': 57.5351951219512,
 'MLT': 80.7463414634146,
 'MMR': 65.6540975609756,
 'MNE': 74.7583658536585,
 'MNG': 69.0618048780488,
 'MOZ': 54.641512195122,
 'MRT': 62.8027073170732,
 'MUS': 74.46,
 'MWI': 61.466,
 'MYS': 74.567512195122,
 'NAM': 64.3438780487805,
 'NCL': 77.1219512195122,
 'NER': 60.8281463414634,
 'NGA': 52.4421463414634,
 'NIC': 74.514756097561,
 'NLD': 81.1048780487805,
 'NOR': 81.4512195121951,
 'NPL': 69.222,
 'NZL': 81.4073170731707,
 'OMN': 76.8410487804878,
 'PAK': 65.9636829268293,
 'PAN': 77.4192195121951,
 'PER': 74.2838536585366,
 'PHL': 68.1315609756097,
 'PNG': 62.4491707317073,
 'POL': 76.8487804878049,
 'PRI': 78.7111951219512,
 'PRT': 80.3731707317073,
 'PRY': 72.7991707317073,
 'PYF': 76.3340731707317,
 'QAT': 78.4184878048781,
 'ROU': 74.4634146341463,
 'RUS': 71.0731707317073,
 'RWA': 63.3948292682927,
 'SAU': 74.1776341463415,
 'SDN': 63.1670487804878,
 'SEN': 65.878756097561,
 'SGP': 82.3463414634146,
 'SLB': 67.7189268292683,
 'SLE': 50.3631219512195,
 'SLV': 72.4981463414634,
 'SOM': 55.0230243902439,
 'SSD': 55.2209024390244,
 'STP': 66.259512195122,
 'SUR': 70.99,
 'SVK': 76.2609756097561,
 'SVN': 80.2780487804878,
 'SWE': 81.7048780487805,
 'SWZ': 48.9379268292683,
 'SYR': 74.7157804878049,
 'TCD': 51.1914878048781,
 'TGO': 59.1323658536585,
 'THA': 74.2469268292683,
 'TJK': 69.4001707317073,
 'TKM': 65.4565609756098,
 'TLS': 67.5223658536585,
 'TON': 72.6403414634147,
 'TTO': 70.3052926829268,
 'TUN': 73.6463414634147,
 'TUR': 75.1759512195122,
 'TZA': 64.2918292682927,
 'UGA': 57.7676829268293,
 'UKR': 71.159512195122,
 'URY': 76.8361951219512,
 'USA': 78.8414634146341,
 'UZB': 68.2275853658537,
 'VCT': 72.8108780487805,
 'VEN': 74.0744146341464,
 'VIR': 79.6243902439024,
 'VNM': 75.756487804878,
 'VUT': 71.669243902439,
 'WSM': 73.2503902439024,
 'YEM': 63.583512195122,
 'ZAF': 56.7365853658537,
 'COD': 58.2719268292683,
 'ZMB': 59.2373658536585,
 'ZWE': 55.633}

In [63]:
Regions2012Dict = dict(zip(Codes_2012_Dataset, Regions_2012_Dataset))

In [64]:
Regions2012Dict

{'ABW': 'The Americas',
 'AFG': 'Asia',
 'AGO': 'Africa',
 'ALB': 'Europe',
 'ARE': 'Middle East',
 'ARG': 'The Americas',
 'ARM': 'Asia',
 'ATG': 'The Americas',
 'AUS': 'Oceania',
 'AUT': 'Europe',
 'AZE': 'Asia',
 'BDI': 'Africa',
 'BEL': 'Europe',
 'BEN': 'Africa',
 'BFA': 'Africa',
 'BGD': 'Asia',
 'BGR': 'Europe',
 'BHR': 'Middle East',
 'BHS': 'The Americas',
 'BIH': 'Europe',
 'BLR': 'Europe',
 'BLZ': 'The Americas',
 'BMU': 'The Americas',
 'BOL': 'The Americas',
 'BRA': 'The Americas',
 'BRB': 'The Americas',
 'BRN': 'Asia',
 'BTN': 'Asia',
 'BWA': 'Africa',
 'CAF': 'Africa',
 'CAN': 'The Americas',
 'CHE': 'Europe',
 'CHL': 'The Americas',
 'CHN': 'Asia',
 'CIV': 'Africa',
 'CMR': 'Africa',
 'COG': 'Africa',
 'COL': 'The Americas',
 'COM': 'Africa',
 'CPV': 'Africa',
 'CRI': 'The Americas',
 'CUB': 'The Americas',
 'CYM': 'The Americas',
 'CYP': 'Europe',
 'CZE': 'Europe',
 'DEU': 'Europe',
 'DJI': 'Africa',
 'DNK': 'Europe',
 'DOM': 'The Americas',
 'DZA': 'Africa',
 'ECU': 'The Americas',
 'EGY': 'Africa',
 'ERI': 'Africa',
 'ESP': 'Europe',
 'EST': 'Europe',
 'ETH': 'Africa',
 'FIN': 'Europe',
 'FJI': 'Oceania',
 'FRA': 'Europe',
 'FSM': 'Oceania',
 'GAB': 'Africa',
 'GBR': 'Europe',
 'GEO': 'Asia',
 'GHA': 'Africa',
 'GIN': 'Africa',
 'GMB': 'Africa',
 'GNB': 'Africa',
 'GNQ': 'Africa',
 'GRC': 'Europe',
 'GRD': 'The Americas',
 'GRL': 'The Americas',
 'GTM': 'The Americas',
 'GUM': 'Oceania',
 'GUY': 'The Americas',
 'HKG': 'Asia',
 'HND': 'The Americas',
 'HRV': 'Europe',
 'HTI': 'The Americas',
 'HUN': 'Europe',
 'IDN': 'Asia',
 'IND': 'Asia',
 'IRL': 'Europe',
 'IRN': 'Middle East',
 'IRQ': 'Middle East',
 'ISL': 'Europe',
 'ISR': 'Middle East',
 'ITA': 'Europe',
 'JAM': 'The Americas',
 'JOR': 'Middle East',
 'JPN': 'Asia',
 'KAZ': 'Asia',
 'KEN': 'Africa',
 'KGZ': 'Asia',
 'KHM': 'Asia',
 'KIR': 'Oceania',
 'KOR': 'Asia',
 'KWT': 'Middle East',
 'LAO': 'Asia',
 'LBN': 'Middle East',
 'LBR': 'Africa',
 'LBY': 'Africa',
 'LCA': 'The Americas',
 'LIE': 'Europe',
 'LKA': 'Asia',
 'LSO': 'Africa',
 'LTU': 'Europe',
 'LUX': 'Europe',
 'LVA': 'Europe',
 'MAC': 'Asia',
 'MAR': 'Africa',
 'MDA': 'Europe',
 'MDG': 'Africa',
 'MDV': 'Asia',
 'MEX': 'The Americas',
 'MKD': 'Europe',
 'MLI': 'Africa',
 'MLT': 'Europe',
 'MMR': 'Asia',
 'MNE': 'Europe',
 'MNG': 'Asia',
 'MOZ': 'Africa',
 'MRT': 'Africa',
 'MUS': 'Africa',
 'MWI': 'Africa',
 'MYS': 'Asia',
 'NAM': 'Africa',
 'NCL': 'Oceania',
 'NER': 'Africa',
 'NGA': 'Africa',
 'NIC': 'The Americas',
 'NLD': 'Europe',
 'NOR': 'Europe',
 'NPL': 'Asia',
 'NZL': 'Oceania',
 'OMN': 'Middle East',
 'PAK': 'Asia',
 'PAN': 'The Americas',
 'PER': 'The Americas',
 'PHL': 'Asia',
 'PNG': 'Oceania',
 'POL': 'Europe',
 'PRI': 'The Americas',
 'PRT': 'Europe',
 'PRY': 'The Americas',
 'PYF': 'Oceania',
 'QAT': 'Middle East',
 'ROU': 'Europe',
 'RUS': 'Europe',
 'RWA': 'Africa',
 'SAU': 'Middle East',
 'SDN': 'Africa',
 'SEN': 'Africa',
 'SGP': 'Asia',
 'SLB': 'Oceania',
 'SLE': 'Africa',
 'SLV': 'The Americas',
 'SOM': 'Africa',
 'SRB': 'Europe',
 'SSD': 'Africa',
 'STP': 'Africa',
 'SUR': 'The Americas',
 'SVK': 'Europe',
 'SVN': 'Europe',
 'SWE': 'Europe',
 'SWZ': 'Africa',
 'SYC': 'Africa',
 'SYR': 'Middle East',
 'TCD': 'Africa',
 'TGO': 'Africa',
 'THA': 'Asia',
 'TJK': 'Asia',
 'TKM': 'Asia',
 'TLS': 'Asia',
 'TON': 'Oceania',
 'TTO': 'The Americas',
 'TUN': 'Africa',
 'TUR': 'Europe',
 'TZA': 'Africa',
 'UGA': 'Africa',
 'UKR': 'Europe',
 'URY': 'The Americas',
 'USA': 'The Americas',
 'UZB': 'Asia',
 'VCT': 'The Americas',
 'VEN': 'The Americas',
 'VIR': 'The Americas',
 'VNM': 'Asia',
 'VUT': 'Oceania',
 'PSE': 'Middle East',
 'WSM': 'Oceania',
 'YEM': 'Middle East',
 'ZAF': 'Africa',
 'COD': 'Africa',
 'ZMB': 'Africa',
 'ZWE': 'Africa'}

In [65]:
stats['Region'] = Regions2012Dict

In [66]:
stats.columns

Index(['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup', 'Region'],
      dtype='object')

In [67]:
stats.head()

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup,Region
0,Aruba,ABW,10.244,78.9,High income,ABW
1,Afghanistan,AFG,35.253,5.9,Low income,AFG
2,Angola,AGO,45.985,19.1,Upper middle income,AGO
3,Albania,ALB,12.877,57.2,Upper middle income,ALB
4,United Arab Emirates,ARE,11.044,88.0,High income,ARE

In [69]:
stats['LifeExpectancy1960'] = LifeExpectancy1960Dict

ValueError: Length of values (187) does not match length of index (195)

In [73]:
stats2 = stats.assign(LifeExpectancy1960=LifeExpectancy1960Dict)

ValueError: Length of values (187) does not match length of index (195)

In [75]:
stats2 = pd.concat([stats, LifeExpectancy1960Dict], axis=1)

TypeError: cannot concatenate object of type '<class 'dict'>'; only Series and DataFrame objs are valid

In [76]:
LE1960 = pd.DataFrame.from_dict(LifeExpectancy1960Dict)

ValueError: If using all scalar values, you must pass an index

In [77]:
LE1960 = pd.DataFrame.from_dict(LifeExpectancy1960Dict, orient='index')

In [78]:
LE1960

             0
ABW  65.569366
AFG  32.328512
AGO  32.984829
ALB  62.254366
ARE  52.243220
..         ...
YEM  34.363805
ZAF  49.036293
COD  41.018049
ZMB  45.109805
ZWE  51.542463

[187 rows x 1 columns]

In [93]:
LE1960 = pd.DataFrame.from_dict(LifeExpectancy1960Dict, orient='index', columns=['LifeExpectancy1960'])

In [91]:
LE1960

     CountryCode, LifeExpectancy1960
ABW                        65.569366
AFG                        32.328512
AGO                        32.984829
ALB                        62.254366
ARE                        52.243220
..                               ...
YEM                        34.363805
ZAF                        49.036293
COD                        41.018049
ZMB                        45.109805
ZWE                        51.542463

[187 rows x 1 columns]

In [81]:
stats2 = pd.concat([stats, LE1960], axis=1)

In [82]:
stats2

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup,Region,LifeExpectancy1960
0,Aruba,ABW,10.244,78.9,High income,ABW,NaN
1,Afghanistan,AFG,35.253,5.9,Low income,AFG,NaN
2,Angola,AGO,45.985,19.1,Upper middle income,AGO,NaN
3,Albania,ALB,12.877,57.2,Upper middle income,ALB,NaN
4,United Arab Emirates,ARE,11.044,88.0,High income,ARE,NaN
...,...,...,...,...,...,...,...
YEM,NaN,NaN,NaN,NaN,NaN,NaN,34.363805
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,49.036293
COD,NaN,NaN,NaN,NaN,NaN,NaN,41.018049
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,45.109805
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,51.542463

In [83]:
stats2 = pd.concat([stats, LE1960])

In [84]:
stats2

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup,Region,LifeExpectancy1960
0,Aruba,ABW,10.244,78.9,High income,ABW,NaN
1,Afghanistan,AFG,35.253,5.9,Low income,AFG,NaN
2,Angola,AGO,45.985,19.1,Upper middle income,AGO,NaN
3,Albania,ALB,12.877,57.2,Upper middle income,ALB,NaN
4,United Arab Emirates,ARE,11.044,88.0,High income,ARE,NaN
...,...,...,...,...,...,...,...
YEM,NaN,NaN,NaN,NaN,NaN,NaN,34.363805
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,49.036293
COD,NaN,NaN,NaN,NaN,NaN,NaN,41.018049
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,45.109805
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,51.542463

In [86]:
stats2 = pd.concat([stats, LE1960], ignore_index=True)

In [87]:
stats2

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup,Region,LifeExpectancy1960
0,Aruba,ABW,10.244,78.9,High income,ABW,NaN
1,Afghanistan,AFG,35.253,5.9,Low income,AFG,NaN
2,Angola,AGO,45.985,19.1,Upper middle income,AGO,NaN
3,Albania,ALB,12.877,57.2,Upper middle income,ALB,NaN
4,United Arab Emirates,ARE,11.044,88.0,High income,ARE,NaN
...,...,...,...,...,...,...,...
377,NaN,NaN,NaN,NaN,NaN,NaN,34.363805
378,NaN,NaN,NaN,NaN,NaN,NaN,49.036293
379,NaN,NaN,NaN,NaN,NaN,NaN,41.018049
380,NaN,NaN,NaN,NaN,NaN,NaN,45.109805
381,NaN,NaN,NaN,NaN,NaN,NaN,51.542463

In [88]:
stats2 = pd.concat([stats, LE1960], ignore_index=True, axis=1)

In [89]:
stats2

,0,1,2,3,4,5,6
0,Aruba,ABW,10.244,78.9,High income,ABW,NaN
1,Afghanistan,AFG,35.253,5.9,Low income,AFG,NaN
2,Angola,AGO,45.985,19.1,Upper middle income,AGO,NaN
3,Albania,ALB,12.877,57.2,Upper middle income,ALB,NaN
4,United Arab Emirates,ARE,11.044,88.0,High income,ARE,NaN
...,...,...,...,...,...,...,...
YEM,NaN,NaN,NaN,NaN,NaN,NaN,34.363805
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,49.036293
COD,NaN,NaN,NaN,NaN,NaN,NaN,41.018049
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,45.109805
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,51.542463

In [94]:
stats2 = pd.concat([stats, LE1960], join="inner", keys=CountryCode)

NameError: name 'CountryCode' is not defined